<div class="container">
  	<table>
		<tbody>
			<tr>
				<td rowspan="3">
					<img src="{{ site.baseurl }}/assets/photos/bio-photo.jpg" class="user-image" alt="{{ site.texture.title }}">
				</td>
				<td rowspan="3"> </td>
				<td>
					<h1>{{ site.texture.title }}</h1>
				</td>
			</tr>
			<tr>
				<td>
					<h2>{{ site.texture.tagline }}</h2>
				</td>
			</tr>
			<tr>
				<td>
					<ul class="social">
						{%- if site.texture.social_links.github -%}
							<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
						{%- endif -%}
						{%- if site.texture.social_links.linkedIn -%}
							<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
						{%- endif -%}
						{%- if site.texture.social_links.twitter -%}
							<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
						{%- endif -%}
					</ul>
				</td>
			</tr>
		</tbody>
  	</table>
</div>
