<!DOCTYPE html>
<html lang="en">
<head>
  {%- include head.html -%}
</head>
<body>
  <header class="texture-{{ site.texture.style }}">
    <div class="container">
      {%- include nav.html -%}
    </div>
    {%- include post_header.html -%}  
  </header>
  <main>
    <div class="container">
      <div class="post-container">
          {{ content }}
      </div>

      <div id="Comments" style="margin-top:25px">
        <script src="https://utteranc.es/client.js"
            repo="matholamew/matholamew.github.io"
            issue-term="pathname"
            theme="github-dark"
            crossorigin="anonymous"
            async>
        </script>
      </div>

    </div>
  </main>
  {%- include footer.html -%}
</body>
</html>